/* cutstom scss rules */

.border-353535 {
    border-color: #353535;
}
.border-style-solid {
    border-style: solid;
}
.svg-icon.svg-color-primary svg [fill]:not(.permanent):not(g) {
    fill: $primary;
}

.aside.aside-dark .aside-toggle svg [fill]:not(.permanent):not(g) {
    fill: #512F12!important;
}
.aside-dark .menu .menu-item .menu-link .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #512F12!important;
}
.menu-state-bullet-primary .menu-item .menu-link.active, .menu-state-bg .menu-item .menu-link:hover:not(.disabled):not(.active) {
    background-color: #838383!important;
}
.aside-dark .menu .menu-item .menu-section {
    color: #fff !important;
}
.menu-state-icon-primary .menu-item .menu-link.active .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #D46300!important;
}
.btn-check:checked + .btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn-check:active + .btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary.active .svg-icon svg [fill]:not(.permanent):not(g), .btn.btn-active-color-primary.show .svg-icon svg [fill]:not(.permanent):not(g), .show > .btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #D46300!important;
}
.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) {
    background-color: #838383!important;
}
.aside-dark .menu .menu-item .menu-link:hover .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #D46300!important;
}

.overlay-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.2rem;

    svg {
        border: 1px solid #d46300;
        border-radius: 50%;
        path {
            fill: #d46300 !important;
        }
    }
}