<!--begin::Row-->
<div class="row g-5 g-xxl-8">
    <!--begin::Col-->
    <div class="col-xl-7">
        <!--begin::Feeds Widget 1-->
        <div class="card mb-5 mb-xxl-8 pb-8">
            <!--begin::Body-->
            <div class="card-body pb-0">
                <!--begin::Header-->
                <div class="d-flex align-items-center">
                    <!--begin::User-->
                    <div class="d-flex align-items-center flex-grow-1">
                        <!--begin::Avatar-->
                        <div class="symbol me-5 mb-auto color-primary">
                            <!--begin::Svg Icon | path: assets/media/icons/duotone/Text/Article.svg-->
                            <span class="svg-icon svg-color-primary svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                                        <path fill="#D46300"
                                            d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L12.5,10 C13.3284271,10 14,10.6715729 14,11.5 C14,12.3284271 13.3284271,13 12.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z"
                                            fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Info-->
                        <h3 class="d-flex align-items-start flex-column">
                            <span class="card-label fw-bolder text-white fs-3 mb-1">Featured lesson</span>
                        </h3>
                        <!--end::Info-->
                    </div>
                    <!--end::User-->

                </div>
                <!--end::Header-->
                <hr class="border-1 border-353535 opacity-100 border-style-solid mt-3 mb-8">
                <div class="mb-6">
                    <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                </div>
                <div>
                    <h4 class="fs-3 text-white w-bolder mb-3">Why driving Traffic is Crucial</h4>
                </div>

                <hr class="border-1 border-353535 opacity-100 border-style-solid my-8">

                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-outline btn-outline-light btn-sm">Play video</a>
                </div>

            </div>
            <!--end::Body-->
        </div>
        <!--end::Feeds Widget 1-->

    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-5">
        <!--begin::Card-->
        <div class="card card-flush text-white">
            <!--begin::Card header-->
            <div class="card-header mt-6">
                <!--begin::Card title-->
                <div class="card-title flex-column">
                    <h3 class="fw-bolder mb-1 text-white">Documents</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-9 pt-3">
                <!--begin::Files-->
                <div class="d-flex flex-column mb-9">
                    <!--begin::File-->
                    <div class="d-flex align-items-center mb-10">
                        <!--begin::Icon-->
                        <div class="symbol symbol-30px me-5">
                            <img alt="Icon" src="assets/media/svg/files/pdf.svg">
                        </div>
                        <!--end::Icon-->
                        <!--begin::Details-->
                        <div class="fw-bold">
                            <a class="fs-6 fw-bolder text-white text-hover-primary" href="#">UnknownFile.png</a>
                            <div class="text-gray-400">2.54 MB</div>
                        </div>
                        <!--end::Details-->
                        <div class="ms-auto">
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Download</a>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::File-->
                    <!--begin::File-->
                    <div class="d-flex align-items-center mb-10">
                        <!--begin::Icon-->
                        <div class="symbol symbol-30px me-5">
                            <img alt="Icon" src="assets/media/svg/files/pdf.svg">
                        </div>
                        <!--end::Icon-->
                        <!--begin::Details-->
                        <div class="fw-bold">
                            <a class="fs-6 fw-bolder text-white text-hover-primary" href="#">UnknownFile.png</a>
                            <div class="text-gray-400">2.54 MB</div>
                        </div>
                        <!--end::Details-->
                        <div class="ms-auto">
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Download</a>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::File-->
                    <!--begin::File-->
                    <div class="d-flex align-items-center mb-10">
                        <!--begin::Icon-->
                        <div class="symbol symbol-30px me-5">
                            <img alt="Icon" src="assets/media/svg/files/pdf.svg">
                        </div>
                        <!--end::Icon-->
                        <!--begin::Details-->
                        <div class="fw-bold">
                            <a class="fs-6 fw-bolder text-white text-hover-primary" href="#">UnknownFile.png</a>
                            <div class="text-gray-400">2.54 MB</div>
                        </div>
                        <!--end::Details-->
                        <div class="ms-auto">
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Download</a>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::File-->
                    <!--begin::File-->
                    <div class="d-flex align-items-center mb-10">
                        <!--begin::Icon-->
                        <div class="symbol symbol-30px me-5">
                            <img alt="Icon" src="assets/media/svg/files/pdf.svg">
                        </div>
                        <!--end::Icon-->
                        <!--begin::Details-->
                        <div class="fw-bold">
                            <a class="fs-6 fw-bolder text-white text-hover-primary" href="#">UnknownFile.png</a>
                            <div class="text-gray-400">2.54 MB</div>
                        </div>
                        <!--end::Details-->
                        <div class="ms-auto">
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Download</a>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::File-->
                    <!--begin::File-->
                    <div class="d-flex align-items-center mb-10">
                        <!--begin::Icon-->
                        <div class="symbol symbol-30px me-5">
                            <img alt="Icon" src="assets/media/svg/files/pdf.svg">
                        </div>
                        <!--end::Icon-->
                        <!--begin::Details-->
                        <div class="fw-bold">
                            <a class="fs-6 fw-bolder text-white text-hover-primary" href="#">UnknownFile.png</a>
                            <div class="text-gray-400">2.54 MB</div>
                        </div>
                        <!--end::Details-->
                        <div class="ms-auto">
                            <a href="#" class="btn btn-bg-light btn-active-color-primary btn-sm">Download</a>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::File-->
                </div>
                <!--end::Files-->
            </div>
            <!--end::Card body -->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Col-->

</div>
<!--end::Row-->
<div class="row">
    <div class="col-xl-12">
        <div class="card mb-5 mb-xxl-8">
            <div class="card-header border-0 pt-5">

                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder text-white fs-3 mb-1">Prep School</span>
                </h3>

            </div>
            <div class="card-body text-white" style="position: relative;">
                <div class="row g-xxl-8">
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="d-block position-relative">
                            <img src="/assets/media/amped/Group 839@2x.png" class="img-fluid w-100">
                            <div class="overlay-bottom d-flex justify-content-center">
                                <span class="ms-auto">Why driving Traffic is Crucial</span>
                                <!--begin::Svg Icon | path: assets/media/icons/duotone/Media/Play.svg-->
                                    <span class="svg-icon svg-icon-1 ms-auto"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"/>
                                        </g>
                                    </svg></span>
                                <!--end::Svg Icon-->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>